*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  /*grid-template-rows: 534px;*/
  grid-template-areas:
  'main list';
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  /*height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto 54px;*/
  justify-content: end;
  grid-area: main;
  gap: 16px;
}

.result__video-container {
  height: 386px;
  width: 100%;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: inline-flex;
  height: 54px;
  align-items: start;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 40px;
}

.search-form__fieldset {
  /*width: 225px;*/
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.content__list-container {
  height: 298px;
  overflow: auto;
}


.content__details {
  width: 100%;
  grid-area: list;
}

.title {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #545050;
  margin-bottom: 24.5px;
}

.content__accent {
  color: #fff;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: block;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  width: 100%;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*padding-top: 3px;*/
  padding-bottom: 6px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.content__video-card-thumbnail {

  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;

}