*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  /*grid-template-rows: 534px;*/
  grid-template-areas:
  'main list';
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  /*height: 100%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto 54px;*/
  justify-content: end;
  grid-area: main;
  gap: 16px;
}

.result__video-container {
  height: 386px;
  width: 100%;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: inline-flex;
  height: 54px;
  align-items: start;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  border:none; 
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.search-form__checkbox:checked  + .search-form__pseudo-checkbox::after{
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label:has(.search-form__checkbox):hover {
  cursor: pointer;
  text-decoration: underline;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:active {
  background: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.content__list-container {
  height: 298px;
  overflow: auto;
}


.content__details {
  width: 100%;
  grid-area: list;
}

.title {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 24.5px;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  display: block;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  width: 100%;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;/*можно увеличить отступ сверху для названий городов */
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /*padding-top: 3px;*/
  padding-bottom: 6px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 90%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.content__video-card-thumbnail {

  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  height: 34px;
  width: 100%;
}






.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 